<!DOCTYPE html>
<html>

<head>
    <title>D3 Register form</title>
</head>

<body>
    <form action="/register" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password" />
        </div>

        <div>
            <label for="pass2">Password (confirmation)</label>
            <input type="password" name="pass2" placeholder="password" />
        </div>

        <input type="submit" value="Register" />
    </form>
</body>

</html>